@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");

body {
  background: #3b4252;
}

a {
  text-decoration: none;
}

.App {
  font-family: "Space Mono", monospace;
  margin: auto;
  max-width: 1044px;
}

.header {
  font-size: 1.5rem;
  margin: 1em 0;
}
